<%- include("partials/header"); -%>

  <h1>About Me</h1>
  <div class="starting-content res-text">
    
      <p>
        <strong>Hello, I’m Sushma!</strong>
        I’m currently pursuing my undergraduate degree in Computer Science, and I’m always on the lookout to develop new skills.
      </p>
      <p>
        I’ve been an avid reader since a young age, and after absorbing several works by incredibly
        talented writers, I’m now inspired to create and share my own. I hope my words resonate with you and help you see my world better.
      </p>   
      <p>I also greatly enjoy video editing! Check out my instagram page <a target="_blank" href="https://www.instagram.com/irisinmotion/">@irisinmotion</a>.</p>
    
  </div>

<%- include("partials/footer"); -%>