<%- include("partials/header"); -%>
  <script>
    tinymce.init({
      selector: "textarea",
      plugins: "anchor autolink codesample image link lists",
      toolbar:
        "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image mergetags | numlist bullist indent outdent | removeformat",
    });
  </script>
  <h1 class="title">Compose</h1>
  <form class="needs-validation compose-form" action="/compose" method="post" enctype="multipart/form-data" novalidate>
    <div class="mb-3">
      Posting as
      <small
        class="ms-1 px-2 py-1 fw-semibold text-dark-emphasis bg-secondary-subtle border border-dark-subtle rounded-2">
        <%= username %>
      </small>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" id="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Post</label>
      <textarea class="form-control" name="content" id="content" rows="5" required></textarea>
      <div class="invalid-feedback" id="invalidFb"></div>
    </div>

      <div class="row mb-3">
        <div class="col">
          <label for="image" class="form-label">Choose an image</label>
          <input class="form-control" type="file" name="image" id="image" required>
        </div>
        <div class="col">
          <label for="imageSource" class="form-label">Source</label>
          <input type="text" class="form-control" name="imageSource" id="imageSource" placeholder="<a href=link> Artist </a> on <a href=link> Website </a>" required>
        </div>
      </div>

    <button class="btn btn-secondary" type="submit">Publish</button>
  </form>
  <script src="/scripts/composeValidation.js" type="module"></script>

  <%- include("partials/footer"); -%>