<%- include("partials/header"); -%>

  <h1>Compose</h1>
    <form action="/compose" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="username" class="form-label" >Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
      </div>
      <div class="mb-3">
        <label for="title" class = "form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Post</label>
        <small id="contentHelp" class="form-text text-muted">(Text should be in raw HTML format)</small>
        <textarea class="form-control" name="content" id="content" rows="5" required></textarea>
        
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="image" class="form-label">Choose an image</label>
          <input class="form-control" type="file" name="image" id="image" required>
        </div>
        <div class="col">
          <label for="imageSource" class="form-label">Source</label>
          <input type="text" class="form-control" name="imageSource" id="imageSource" placeholder="<a href=link> Artist </a> on <a href=link> Website </a>" required>
        </div>
      </div>

      <button class="btn btn-secondary" type="submit" name="button">Publish</button>
    </form>


  <%- include("partials/footer"); -%>