<%- include("partials/header"); -%>

    <div class="d-flex align-items-center justify-content-center pt-5">
      <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3 res-text"> <span class="text-danger">Uh-Oh!</span> We couldn’t find that page you’re looking for.</p>
        <a href="/" class="btn btn-primary home-btn">Go Home</a>
      </div>
    </div>
  
<%- include("partials/footer"); -%>