<%- include("partials/header"); -%>

  <h1>Login</h1>
  <div class="container-fluid my-5">


    <div class="row">
      <div class="col-lg-8 pb-5 mx-auto">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form action="/login" method="POST">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
              <button class="btn btn-dark" type="submit" name="button">Login</button>
            </form>
            <hr>
            <p style="text-align: center;">Don't have an account yet? <a href="/register">Register</a></p>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>