<%- include("partials/header"); -%>

  <h1>
    <%= title %>
  </h1>
  <div class="post-image"><img src="/pascal-debrunner-lHJZ2JTxSlI-unsplash.jpg" alt="sample image"></div>  
  <p class="post-content py-4">
    <%= content %>
  </p>

<%- include("partials/footer"); -%>
<!-- Photo by <a
  href="https://unsplash.com/@debrupas?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pascal
  Debrunner</a> on <a
  href="https://unsplash.com/photos/lHJZ2JTxSlI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->