body {
    position: relative;
    min-height: 100vh;
}

.container-fluid{
    padding: 0 5%;
}

button.navbar-toggler {
    outline: none;
}

button.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
}

.starting-content {
    text-align: center;
}

h3 {
    text-align: center;
    padding: 3rem 0 0;
    font-family: 'Poppins', sans-serif;
}

.underline {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.content-wrap {
    padding-bottom: 75px;
}

hr {
  margin-top: 2rem;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0.75rem;
    font-size: 12px;
    letter-spacing: 5px;
}

.nav-link {
    letter-spacing: 3px;
}

p.navbar-brand{
    margin: 0;
}

.navbar-nav li a:hover {
    color: #55cbba !important;
}

.home-btn {
    background-color: #46a597;
    border-color: #46a597;
}

.home-btn:hover {
    background-color: #55cbba;
    border-color: #55cbba;
    color: #2c2c2c;
}


h5.title-line {
    margin-bottom: 0;
    padding-bottom: 0.25rem;
    line-height: 1.9rem;
    padding-top: 0.25rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


.featured-image {
    height: 12rem;
    max-width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
}

.featured-image img {
    height: inherit;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.featured-image img:hover {
    opacity: 0.75;
    transform: scale(1.2);
}

.featured-body {
    padding: 0.25rem 0 0.5rem;
}

.title-line a {
    color: #2c2c2c;
    text-decoration: none;
    transition: color 175ms ease-in-out;
}

.title-line a:hover {
    color: #46A597;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown a.dropdown-toggle {
    color: rgba(100, 100, 100, 0.85);
   
}

.post-image {
    width: 100%;
    height: 540px;
    margin: auto;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    width:inherit;
}

.post-content {
    margin: auto;
}

.post-body{
    padding: 0 5%;
}

.created-date,
.username {
    padding: 0 1rem 0 0.2rem;
}

.red-op {
    opacity: 0.6;
}

.credit{
    text-align: center;
    font-style: italic;
    padding: 0.2rem 0 0.5rem;
    margin: 0;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #46a597;
}

.footer p {
    /* padding-top: 0.25rem; */
    font-size: 0.8rem;
    color: #f1f1f1;
}

@media (max-width: 1028px) {
    .featured-image {
        width: 100%;
        height: auto;
    }

    .featured-image img {
        width: inherit;

    }

    .post-image {
        height: auto;
    }

    body .res-text{
        font-size: larger;
    }

    .post-body {
        padding: 0 0;
    }

}
