body {
    position: relative;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
}

.starting-content {
    text-align: center;
}

h3 {
    text-align: center;
    padding: 3rem 0 0;
    font-family: 'Poppins', sans-serif;
}

.underline {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.content-wrap {
    padding-bottom: 75px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0.75rem;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #55cbba !important;
}

.home-btn {
    background-color: #46a597;
    border-color: #46a597;
}

.home-btn:hover {
    background-color: #55cbba;
    border-color: #55cbba;
    color: #2c2c2c;
}


.title-line h5 {
    margin-bottom: 0;
    padding-top: 0.25rem;
    text-align: justify;
    font-weight: bold;
}

.featured-body {
    padding: 0.5rem 0rem;
}

.featured-image {
    height: 12rem;
    width: 311.990px;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
}

.featured-image img {
    width: 311.990px;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.featured-image img:hover {
    opacity: 0.75;
    transform: scale(1.2);
}

.featured-body p {
    margin: 1rem 0;
}

.featured-title a {
    color: #2c2c2c;
    text-decoration: none;
    transition: color 175ms ease-in-out;
}

.featured-title a:hover {
    color: #46A597;
    text-decoration: none;
}

.post-image {
    width: 1080px;
    height:540px;
    margin: auto;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    width: 1080px;
}

.post-content{
    width: 1080px;
    margin: auto;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #46a597;
}

.footer p {
    /* padding-top: 0.25rem; */
    font-size: 12px;
    color: #f1f1f1;
}